{% extends "therewasanattempt/base.html" %}
{% block main %}
<div class="card inner-border my-3">
    <h6 class="card-header"><i class="fa fa-shield-alt"></i> Security Events</h6>
    <div class="card-body container-fluid">
        <form class="" method="GET" action="/projects">
            <!-- Begin Filters Section -->
            <div class="filter-section formset">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                            <input placeholder="Nom" type="text" name="name" value="" class="form-control ajax-autocomplete">
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                            <select name="model" class="form-control ajax-autocomplete combobox" data-placeholder="Modèle" data-allow-clear="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Filters Section -->
            <hr>
            <!-- Begin Pagination Section -->
            <div class="list-page float-left">
                <div class="btn-toolbar">
                    <ul class="pagination mb-0">
                        <li class="page-item disabled">
                            <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                    <div class="btn-group p-2">1 - 30 (1000)</div>
                </div>
            </div>
            <!-- End Pagination Section -->
            <div class="clearfix mb-3"></div>
            <!-- Begin Data Table Section -->
            <table class="table table-style-secondary">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-center" style="width: 160px;">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Project #1</td>
                        <td class="text-center">2019-01-01</td>
                    </tr>
                </tbody>
            </table>
            <!-- End Data Table Section -->
            <!-- Begin Pagination Section -->
            <div class="list-page float-left">
                <div class="btn-toolbar">
                    <ul class="pagination mb-0">
                        <li class="page-item disabled">
                            <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                    <div class="btn-group p-2">1 - 30 (1000)</div>
                </div>
            </div>
            <!-- End Pagination Section -->
            <div class="clearfix"></div>
        </form>
    </div>
</div>

{% endblock %}